<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Edit Todo</title>
    </head>
    <body>
        <form action="/todos/update/{{.Todo.ID}}" method="post">
            <label>Task</label>
            <input type="text" name="Task" value="{{.Todo.Task}}" />
            <br>
            <p>{{.Errors.Task}}</p>
            <br>
            <button type="submit">Update Todo</button>
        </form>
    </body>
</html>