<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Todo List</title>
    </head>
    <body>
        <ul>
            {{ range .Todos}}
                {{if .IsCompleted}}
                <li><s>{{.Task}}</s></li>
                {{else}}
                <li>
                    {{.Task}}
                    <a href="/todos/complete/{{.ID}}">Complete</a>
                    <a href="/todos/edit/{{.ID}}">Edit</a>
                    <a href="/todos/delete/{{.ID}}">Delete</a>
                </li>
                {{end}}
            {{end}}
        </ul>
    </body>
</html>